* {
    box-sizing: border-box; /* with this property border and padding includes in the width and height of the element*/
}
/* #productsDiv{
    display: block;
    width: 20%;
    height:500px;
    background-color: #04fcdb;
    border: 5px solid #af8d05a4;
    box-shadow: 10px 10px 10px rgb(199, 198, 198); //the third number is the blur
} */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
}
nav, main, aside {padding: 0;}
nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding:0;
    margin: 0;
    border-collapse: collapse; 
}
nav ul li a{
    text-decoration: none;
    color: #00301ca8;
    margin: 0;
    padding: 10px;
    width: 110px;
    font-weight: bold;
}
nav li a:link {
    color: #38ac7ca8;
}
nav li a:hover {
    border-bottom: 3px solid #38ac7ca8;    
    color: black;
}
header p{
    /* text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:2em;
    font-style: italic; */
    display: none;
}
#headerbottom img{
    position: absolute;
    top: -45%;
    left: 43%;
    border: 1px solid black;
}


/*For responsive*/
#wrapper{
    width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-auto-rows: 70px 200px 200px auto 200px auto 50px;
    overflow: auto;
}

#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../images/mf.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

nav{
    grid-column: 2/3;
    grid-row: 1/2;
    /* font-weight: bold; */
    letter-spacing: 0.1em;  
}

#search{
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 10% 0;
}
#search input{width: 100px;}
header{
    grid-column: 1/4;
    grid-row: 2/3; 
    background-image: url(../images/fl.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-color:#A7CBB3;    
}
#headerbottom{
    grid-column: 1/4;
    grid-row: 3/4; 
    position: relative; 
    background-image: url(../images/webdesign.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: 1px solid #666666;  
}

#headerbottom img:hover{
    -ms-transform: rotate(5deg); /* IE 9 */
    transform: rotate(5deg);
    border: 4px solid black;
    transition: border 5s;
}
main{
    grid-column: 2/3;
    grid-row: 4/5;  
    overflow: auto;
    /* background-image: url(../images/pattern.png);
    background-repeat: repeat;*/
}
#mainbottom1{
    grid-column: 1/4;
    grid-row: 5/6;  
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;  
    background-image: url(../images/passion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 0;  
}
#mainbottom2{
    grid-column: 1/4;
    grid-row: 6/7; 
    border-bottom: 1px solid #666666;
    padding: 10px 25%;
    background-color: #BCCABC;     
}
#mainbottom2 p{
     text-align: justify;
     line-height: 2em;
}
footer{
    grid-column: 1/4;
    grid-row: 7/8;
    clear: both;
    text-align: center;
    background-color: #bcddc7;   
}
#boxes{
    margin:auto;
    align-items: center;
    width: 870px;
}
#box1,#box2,#box3{
    width: 250px;
    margin:40px 10px;
    height: auto;
    float: left;
    text-align: justify;
    border: 5px solid #A7CBB3;
    box-shadow: 10px 10px 10px rgb(199, 198, 198);
    min-height: 300px;
    padding: 0;
} 
#box1:hover,#box2:hover,#box3:hover{
    opacity: 0.9;
    border: 5px solid #678b73;
}
#box1:hover h5,#box2:hover h5,#box3:hover h5{
    opacity: 0.9;
}
#box1 h5,#box2 h5,#box3 h5{
    background-color: #A7CBB3;
    height: 50px;
    padding: 15px;
    margin: 0;
    text-align: center;
}   
#box1 h6,#box2 h6,#box3 h6{
    padding: 0 20px;
} 

#dropDownMenu{
    display: none;
}

#dropDownMenu nav 


header, main, nav, footer, figure, figcaption { display: block;}


@media only screen and (max-width:1024px){

    #wrapper{
        grid-template-columns: 10% 1fr 10%;
    }
    #search input{width: 50%;}
    #box1,#box2,#box3{
        width: 300px;
    }    

}

@media only screen and (max-width: 768px) {

    #wrapper{
        grid-template-columns: auto;
        grid-auto-rows: 100px auto 200px 100px auto 200px auto auto 100px;
    }    

    #logo{
        grid-column: 1/2;
        grid-row: 1/2;
        /* border: 1px solid #666666; */
        background-position-x: left; 
        margin-left: 10%; 
    }
    
    nav{
        grid-column: 1/2;
        grid-row: 8/9;
        border: 1px solid black;  
    }
    
    #search{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 30%;
        display: none;
    }

    /* Dropdown menu for mobile size */

    #dropDownMenu{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 70%;        
        display: block;
        width: 100px;
    }

    #dropDownMenu nav{border: none;}

    #dropDownMenu nav ul li a{
        display: block;
        border-bottom: 1px solid #cccccc;
        background-color: white;
        font-size: 0.8em;
    }

    .dropdown-content{
        display: none;
    }

    #dropdown:hover .dropdown-content{
        display: block;
        position: absolute;
        background-color: white;
    } 

    #dropdown:hover .dropdown-content a:hover{
        background-color: #A7CBB3;
    }

    /* Dropdown menu for mobile size */

    header{
        grid-column: 1/2;
        grid-row: 3/4; 
        border: 1px solid black;
    }
    #headerbottom{
        grid-column: 1/2;
        grid-row: 4/5; 
        border: 1px solid black;
        width: 100%;
        background-image: url(../images/webdesign-mobile.png);  
        background-position-y: center;   
    }
    #headerbottom img{
        display: none; 
    }
    main{
        grid-column: 1/2;
        grid-row: 5/6;  
        border: 1px solid black;     
    }
    #mainbottom1{
        grid-column: 1/2;
        grid-row: 6/7;  
        border: 1px solid black;    
    }
    #mainbottom2{
        grid-column: 1/2;
        grid-row: 7/8; 
        border: 1px solid black; 
        padding: 10px 10%;    
    }    
    footer{
        grid-column: 1/2;
        grid-row: 9/10;
        border: 1px solid black; 
    } 
    #box1,#box2,#box3{width: 90%; margin: 20px 5%;} 
    #box3{margin-bottom: 30px;}  
    nav li a:hover {
        border-bottom: none;    
    }    

}